# Compiled Object files and Intermediate Files
*.slo
*.lo
*.o
*.obj
*.tlog
*.pdb
*.idb
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and Visual Studio stuff
*.out
*.res
*.sdf
*.opensdf
*.filters
*.suo
*.manifest
*.cache
/Debug
/ipch
AlgoRhythmia.exe

.DS_Store
.vs
